@model BirdLogger.Models.NestDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NestDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eggs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eggs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hatchlings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hatchlings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.NestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
