@model BirdLogger.Models.JournalDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Journal Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JournalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Views/Journal/Index.cshtml" input type="submit" value=" Back to List" class="btn btn-seconadry" />
    @Html.ActionLink("Edit", "Edit", new { id = Model.JournalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
